name: Cypress Tests

on:
  pull_request:
    branches:
      - master

jobs:
  Cypress_tests:
    runs-on: ubuntu-22.04
    env:
        NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}
        NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}
        AUTH_SECRET: ${{ secrets.AUTH_SECRET }}

        AUTH_GITHUB_ID: ${{ secrets.AUTH_GITHUB_ID }}
        AUTH_GITHUB_SECRET: ${{ secrets.AUTH_GITHUB_SECRET }}

        SANITY_WRITE_TOKEN: ${{ secrets.SANITY_WRITE_TOKEN }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
            node-version: 20.9.0
            cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js
        run: npm run build

      - name: Start Next.js
        run: npm run start &

      - name: Wait for app
        run: npx wait-on http://localhost:3000

      - name: Run Cypress E2E tests
        run: npm run test:e2e

      - name: Run Cypress Component tests
        run: npm run test:component